.wide.container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.animals__item {
    margin-bottom: 20px;
}

.animals__img {
    width: 200px;
    height: 270px;
}

.animals__pet-name {

}

.animals__pet-description {
    text-align: justify;
}

